[core]
	symlinks = true
	pager = LESSCHARSET=utf-8 less

[ghq]
	root = ~/ghq

[user]
	name = eihigh
	email = eihigh.contact@gmail.com

{{ if eq .chezmoi.os "darwin" }}
 	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINZu5lpkbLKfNFq69elj3D+R1Ex5yQP1xoMRGki2MM2D

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

{{ else }}

[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential

{{ end }}

[include]
	path = ~/.config/git/config_local
[includeIf "gitdir:~/git/"]
	path = ~/.config/git/config_work
